
@import url('https://fonts.cdnfonts.com/css/menlo');
@import url('https://fonts.googleapis.com/css2?family=Cousine&display=swap');
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(75, 75, 248);
  }


.container{
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    padding: 30px;
    background-color: rgb(75, 75, 248);
   
  
}



  .topnav {
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
   
  }
  
.topnav a {
    float: left;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
.topnav a:hover {
    background-color: #1687ff;
    color: rgb(255, 255, 255);
  }
  
.topnav a.active {
    background-color: #1687ff;
    color: white;
  }

h1{

    font-family: 'Menlo', sans-serif;
    color: white;
  }
h3{
    font-family: 'Cousine', monospace;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 20%;
  display: block;
overflow: auto;
  border-radius: 10px;
  margin-right: 30px;
  margin-left: 30px;
  margin-top: 30px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-container {
  padding: 2px 16px;
  background-color:rgb(255, 255, 255);
  color: rgb(52, 52, 52);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  font-family: 'Cousine', monospace;
  
  
}

.card-p{
  font-size: 10px;
}

.card-btn{
  background-color: #4CAF50; /* Green */
  border-radius: 5px;
  border: none;
  color: white;
  text-align: center;
  font-size: 13px;
  height: 40px;
  width: 100px;
  margin-bottom: 10px;

}

.container-horizontal{
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

